*.csr
*.crt
*.key
*.pem
secrets.yaml
ip_bans.yaml
known_devices.yaml
google_calendars.yaml
entity_registry.yaml
*.json
*.conf
*.log
*.txt
*.sh
*.json
*.xml
*.sqlite
ozw_config/
tts/
deps/
n.jpg
r.jpg
p.jpg
*.json
cox_usage.json
cox_usage.py
*.pyc
*.log.*
blueprints/
govee_learning.yaml
zigbee.db*